/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {

}

a {
 color : white;
 text-decoration: none;
}
article {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 max-width:50em;
}

h1 {
  text-align:center;
}

img {
 max-width: 100%;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 5px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    display: flex;
    padding: 10px 5px;
    background-color: black;
    color: #fff;
}

footer p {
    flex: 1;
    margin: 0;
}

footer ul {
    flex: 0.3;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

